extends /_includes/_layout

append variables
  - site.pageTitle = "ぽえ"

block content
  section.section
    .container
      .content.is-midium
        h2.subtitle.is-4 2021年9月13日
        h1.title ブログを作ってみたよ
        p
          | 一度に全部を作り込むと飽きてしまうので、継続的にアップデートをしながら、圧倒的な"成長"を見せる予定です。
          <br>
          | 初回はベースの作成とトップページのHTMLを表示するところまで作ってみたよ。

  .is-devider

  section.section
    div.container
      .content.is-midium
        h2.subtitle.is-4 2021年9月13日
        h1.title あ
        p い
